@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SIDEBAR */

aside {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #363740;
  color: white;
  overflow-x: hidden;
}

aside a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.asideHeader {
  font-family: 'Montserrat';
  font-weight: 700;
  background-color: #47495B;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.asideHeader>* {
  margin: 0 12px;
}

.asideOption {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 2em;
  font-size: 20px;
}

.activeOption {
  background-color: #3F4049;
  color: #DDE2FF
}

.activeOption a {
  color: #DDE2FF;
}

.asideOption img {
  width: 1.2em;
  padding-right: 2em;
}

.home, .users, .todos, nav {
  margin-left: 300px;
  padding: 0px 10px;
}

/* NAVBAR */

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navTitle {
  padding-left: 3em;
  font-weight: 700;
  font-size: 1.6em;
}

.logo {
  border-radius: 15px;
  cursor: pointer;
}

.divider {
  border: .5px solid #DFE0EB;
  height: 20px;
}

.profileName {
  font-weight: 600;
}

.navOptions {
  flex-basis: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 3em;
}

/* LOGIN */

.loginForm {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loginForm h1 {
  margin-bottom: 50px;
}

.loginForm label {
  font-size: 1.1em;
  font-weight: 600;
}

.loginForm input {
  outline: none;
  border: 0px;
  border-bottom: 1px solid rgb(85, 84, 84);
  width: 300px;
  font-size: 1.1em;
}

.loginForm>* {
  margin: 10px;
}

.loginForm input:focus {
  border: 0px;
  border-bottom: 2px solid black;
}

.loginForm button {
  background-color: #3F4049;
  border-width: 0;
  color: white;
  width: 300px;
  height: 50px;
  border-radius: 40px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 1em;
}

.loginForm ul {
  background-color: #F0D9D9;
  color: rgb(161, 6, 6);
  border-radius: 15px;
  padding: 20px;
}

.loginForm li {
  margin: 10px;
  list-style-type: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media(max-width: 450px) {
  aside {
    padding-top: 15px;
  }
  .home a {
    font-size: 18px;
  }
  .loginForm {
    padding-top: 120px;
  }
}