@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #root {
  display: flex;
} */

aside {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #363740;
  color: white;
  overflow-x: hidden;
}

aside a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.asideHeader {
  font-family: 'Montserrat';
  font-weight: 700;
  background-color: #47495B;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.asideHeader>* {
  margin: 0 12px;
}

.logo {
  border-radius: 15px;
  cursor: pointer;
}

.divider {
  border: .5px solid #DFE0EB;
  height: 20px;
}

.profileName {
  font-weight: 600;
}

.asideOption {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 2em;
  font-size: 20px;
}

.activeOption {
  background-color: #3F4049;
  color: #DDE2FF
}

.activeOption a {
  color: #DDE2FF;
}

.asideOption img {
  width: 1.2em;
  padding-right: 2em;
}

.home, .users, .todos, nav {
  margin-left: 300px;
  padding: 0px 10px;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navTitle {
  padding-left: 3em;
  font-weight: 700;
  font-size: 1.6em;
}

.navOptions {
  flex-basis: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 3em;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media screen and (max-height: 450px) {
  aside {
    padding-top: 15px;
  }
  .home a {
    font-size: 18px;
  }
}